@import "../shared/styles/styles.scss";


.ChallengeDetail {
    font-family: 'Raleway', sans-serif;
    h1, h2 {
        font-family: 'Grenze Gotisch', cursive;
    }
    h1 {
        font-size: 3.0rem;
    }
    h2 {
        font-size: 2.5rem;
    }
}
.ChallengeDetailHeader {
    width: 90%;
    max-width: 700px;
    margin: 15px auto;
}

.ChallengeDetailForm {
    width: 75%;
    max-width: 600px;
    margin: auto;
    padding: 25px;
    background-color: $success;
    border-radius: 3px;
    text-align: left;
    .FormHeader {
        text-align: center;
    }
    .btn {
        margin-right:0px;
    }
    .form-group {
        margin-bottom: .5rem;
    }
    label {
        margin-bottom: .1rem;
    }
    .button {
        text-align: right;
    }

}

.ChallengeDetailTitles {
    padding: 25px;
}
