@import "../shared/styles/styles.scss";

.StoryInfoCard {
    background-color: $info;
    width: 75%;
    max-width: 600px;
    padding: 25px;
    margin: 10px auto;
    p {
        margin-bottom: 0;
    }
    .buttons {
        @media (min-width: 576px) {
            bottom: 0.4rem;
            right: 0.4rem;
            position: absolute;
        }
    }
    .label {
        font-weight: bold;

    }
}

.StoryInfoEdit {
    margin-bottom: .5rem;
}
